.artist{
    background-color: #888;
    width: 260px;
    height: 943px;
  }
  .friends-activity{
    width: 260px;
    height: 44px;
    gap: 10px;
    padding: 16px,12px,12px,12px;
    background-color: black;
  }
  .fah1{
    width: 236px;
    height: 16px;
    font-weight: 700px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    color:aliceblue
  }
  .friends{
    height: 899px;
    width: 260px;
    gap: 4px;
    background-color: black;
  }
  .friend1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
    height: 56px;
  }
  .body{
    height: 40px;
    width: 208px;
    display: flex;
    flex-direction: row;
  }
  .heading-detail-friend{
    height: 12px;
    width: 164px;
    gap: 4px;
    font-weight: 700px;
    size: 12px;
    line-height: 12px;
    display: flex;
    color: aliceblue;
    align-items: flex-start;
    padding-left: 7px;
  }
  .heading-detail{
    height: 12px;
    width: 164px;
    gap: 4px;
    font-weight: 450px;
    size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-start;
    padding-left: 7px;
    color: aliceblue;
  }
  .detail{
    gap: 2px;
  }
  .heading-detail-singer{
    height: 12px;
    width: 152px;
    gap: 4px;
    font-weight: 450px;
    size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-start;
    padding-left: 7px;
    color: aliceblue;
  }
  .playing-icon{
    height: 12px;
    width: 12px;
  }
  @media only screen and (max-width: 768px){
    /* .artist */
  }